*{
  margin: 0;
  padding: 0;
  text-align: center;
}

h1{
  background-color: #081b31;
  color: #fff;
  height: 4rem;
  line-height: 4rem;
  
}
.choice{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.choice:hover{
  /* opacity: 0.5; */
  cursor: pointer;
  background-color: #081b31;

}
img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius:50% ;
}
.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
.score-board{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap : 5rem;

}

#user-score, #comp-score{
  font-size: 4rem;
  font-weight: 900;
}
.msg-container{
  margin-top: 5rem;
  border-radius: 30%;
}
#msg{
  
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}